* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}
body {
  height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  background: #160335;
  color: #fff;
}
input {
  display: block;
  margin: auto;
}
form {
  display: flex;
  flex-wrap: wrap;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

button {
  display: block;
  height: 70px;
  margin: 0px 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.container {
  padding: 20px 20px 0px 20px;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
input {
  margin: auto;
}
#show,
#preview {
  /* margin: 10px; */
  border: 2px dashed #ccc;
  padding: 10px;
  width: 400px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gif-container {
  /* margin-top: 40px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#show div,
#preview img {
  min-width: 400px;
  max-width: 400px;
  max-height: 500px;
  min-height: 500px;
  object-fit: cover;
}

#preview img {
  height: 300px;
  width: 400px;
  object-fit: cover;
}
